body {
    background-color: #141414;
    color: #eee;
}
a:link {
    color: #FF9900;
}
a:visited {
    color: #FF9966;
}
a:hover {
    color: #FF9933;
}
.menu {
    background-color: #505050;
    border-color: #000;
}
.menu ul li:nth-child(odd) {
    background-color: #606060;
}
.menu ul li:nth-child(even) {
    background-color: #707070;
}
.menu ul li:hover {
    background-color: #a0a0a0;
    color: #eef;
}
spi-actor::shadow .thing, spi-sensor::shadow .thing {
    border-color: #000;
}
#content {
    border-color: #000;
}
#content /deep/ div:hover {
    background-color: #a0a0a0;
    color: #eef;
}
#navigation {
    background-color: #505050;
    border-color: #000;
}
#navigation div{
    background-color: #606060;
    border-color: #000;
}
#footer {
    background-color: #505050;
    border-color: #000;
}