body {  
    background-color: #141414;
    color: #eee;
}
.menu {
    background-color: #505050;
    border-color: #000;
}
.menu ul li:nth-child(odd) {
    background-color: #606060;
}
.menu ul li:nth-child(even) {
    background-color: #707070;
}
.menu ul li:hover {
    background-color: #a0a0a0;
    color: #eef;
}
.content {
    border-color: #000;
}
.thing {
    border-color: #000;
}
#content div:nth-child(odd) {
    background-color: #606060;
}
#content div:nth-child(even) {
    background-color: #707070;
}
#content div:hover {
    background-color: #a0a0a0;
    color: #eef;
}
#navigation {
    background-color: #505050;
    border-color: #000;
}
#footer {
    background-color: #505050;
    border-color: #000;
}