body {  
    background-color: #FF3333;
    color: #004040;
}
a:link {
    color: #004;
}
a:visited  {
    color: #228;
}
a:hover {
    color: #228;
}
.menu {
    background-color: #FF8800;
    border-color: #FF9900;
}
.menu ul li:nth-child(odd) {
    background-color: #FF9900;
}
.menu ul li:nth-child(even) {
    background-color: #FFCC33;
}
.menu ul li:hover {
    background-color: #FF9933;
    color: #004040;
}
.content {
    border-color: #FF9900;
}
spi-actor::shadow .thing, spi-sensor::shadow .thing {
    border-color: #FF9900;
}
#content /deep/ div:hover {
    background-color: #FF9933;
    color: #004040;
}
#navigation {
    background-color: #FF6600;
    border-color: #f00;
}
#navigation div{
    background-color: #FF9900;
    border-color: #f00;
}
#footer {
    background-color: #FF6600;
    border-color: #f00;
}