body{
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
}
.small {
    font-size: 12px;
}
.ascending:before {
    content: "\25B2";
}
.descending:before {
    content: "\25BC";
}
.menu {
    padding: 2px;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
}
.hidden {
    display: none;
}
.menu ul  {
    padding: 0px;
    list-style-type: none;
}
.menu ul li {
    padding: 7px 4px 3px;
    cursor: pointer;
}
.content {
    top: 40px;
    min-height: 50px;
    border: 2px solid;
}
.thing {
    padding: 7px 4px 3px;
    min-height: 20px;
    border: 1px solid;
    border-radius: 2px;
}
.thing .name{
    display: inline-block;
    font-weight: bold;
    width: 60px;
    text-align: center;
    height: 100%;
}
.thing .measure{
    display: inline-block;
    padding-left: 5px;
    width: 110px;
}
.thing .type{
    display: inline-block;
    padding-left: 5px;
    width: 110px;
}
.thing .location{
    display: block;
    padding-left: 5px;
    font-size: 12px;
}
.thing .state{
    display: inline-block;
    padding-left: 5px;
}
.thing .value{
    display: inline-block;
    padding-left: 5px;
}
#navigation  div{
    height: 32px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
}
#navigation div + div {
    margin-left: 5px;
}
#navigation {
    height: 34px;
    border: 1px solid;
    border-radius: 2px;
}
#footer {
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
}
#menu_0{
    width: 40px;
    float: left;
}
#menu_options_0{
    width: 75px;
    float: right;
}
#menu_1 {
    position: absolute;
}
#menu_1 ul {
    margin: 0px;
}
#menu_order_0{
    height: 100%;
    width: 75px;
    float: right;
    line-height: 34px;
}
#menu_order_1 {
    right: 6px;
    position: absolute;
}
#menu_order_1 ul {
    margin: 0px;
}
