body{
    height: 100%
    font-size: 18px;
    font-family: sans-serif;
}
.small {
    font-size: 12px;
}
.large {
    font-size: 20px;
}
.menu {
    padding: 2px;
}
.hidden {
    display: none;
}
.menu ul  {
    padding: 0px;
    list-style-type: none;
}
.menu ul li {
    padding: 7px 4px 3px;
    cursor: pointer;
}
.content {
    top: 40px;
    min-height: 50px;
}
.content ul {
    padding: 0px;
}
#navigation {
    height: 35px;
}
#navigation ul{
    list-style-type: none;
}
#menu_0{
    width: 60px;
    float: left;
}
#menu_0 ul {
    margin: 0px;;
}
#menu_1 {
    position: absolute;
}
#menu_1 ul {
    margin: 0px;
}
#menu_order_0{
    width: 60px;
    float: right;
}
#menu_order_0 ul {
    margin: 0px;;
}
#menu_order_1 {
    right: 6px;
    position: absolute;
}
#menu_order_1 ul {
    margin: 0px;
}
